<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="/indexStyle.css" />
  </head>
  <body>
    <header>
      <h1>{{message}}</h1>
      <p>Welcome to the homepage of our app!</p>
      <a href="/about">About Us</a>
    </header>

    <h2>Featured Listings</h2>
    <div class="listing-container">
      {{#each listings}}
        <div class="listing-card">
          <h3>{{name}}</h3>
          <p>{{summary}}</p>
          <a href="{{listing_url}}">View Listing</a>
        </div>
      {{/each}}
    </div>
  </body>
</html>